<div class="row row--no-margin">
	<div class="col-3 o-aside l-content--no-padding d-flex flex-column">
		<h3 class="o-aside__title d-flex align-items-center"><span>Pages</span></h3>
		{{> partials/pages}}
	</div>
	<div class="col-9 o-page l-content--no-padding offset-3">
		{{> partials/tabs}}
	</div>
</div>
