<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
    	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    	<meta name="author" content="Krishan Veerappa - Mad Guerrilla Ltd.">
    	<meta name="HandheldFriendly" content="True" />

        <title>Zanussi Test - Krishan Veerappa</title>

    </head>
    <body>
		<main class="l-content l-content--main l-content--full" role="main">{{> partials/index}}</main>
		{{> partials/modal}}
		<script src="/dist/zanussi.js"></script>
    </body>
</html>
